[Unit]
Description=Timesheets

[Service]
Type=simple
User=timesheets
Group=timesheets
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/timesheets/timesheets
ExecStart=/bin/bash /home/timesheets/timesheets/start.sh

[Install]
WantedBy=multi-user.target
