upstream time1 {
    server localhost:5001;
}

server {
    listen 80;
    listen [::]:80;

    server_name time1.prajaktarodrigues.website;

    location / {
        proxy_pass http://time1;
    }

    location /socket {
        proxy_pass http://time1;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
