<div class="col-md-12">
  <%=if @current_user do %>
  <%= if @current_user.role == "manager" do %>
  <h2> Role: Manager </h2>
    <p><%= link "View Workers Requests", to: Routes.request_path(@conn, :index) %> </p>
  <% else %>
  <div class = "col-md-12">
    <span>my req
    </span>

  </div>
  <p><%= link "View My Requests", to: Routes.request_path(@conn, :index) %> </p>

  <% end %>
  <% else %>
  <h3> Welcome to this application </h3>
  <% end %>
</div>
