<h1>Show Request</h1>

<ul>

  <li>
    <strong>User:</strong>
    <%= @request.user_id %>
  </li>

  <li>
    <strong>Manager:</strong>
    <%= @request.manager_id %>
  </li>

  <li>
    <strong>Tasks:</strong>
    <%= @request.tasks %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.request_path(@conn, :edit, @request) %></span>
<span><%= link "Back", to: Routes.request_path(@conn, :index) %></span>
