<h1>Show Request</h1>

<ul>

  <li>
    <strong>Approval:</strong>
    <%= @request.approval %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @request.date %>
  </li>

</ul>


<span><%= link "Back", to: Routes.request_path(@conn, :index) %></span>
