<h1>New Task</h1>

<%= render "form.html",
assigns |> Map.put(:action, Routes.task_path(@conn, :create)) |> Map.put(:request_id, @request_id) %>

<span><%= link "Back", to: Routes.task_path(@conn, :index, request_id: @request_id) %></span>
