<h1>Show Task</h1>

<ul>

  <li>
    <strong>Job code:</strong>
    <%= @task.job_code %>
  </li>

  <li>
    <strong>Time spent:</strong>
    <%= @task.time_spent %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: Routes.task_path(@conn, :index, request_id: @task.request_id)%></span>
